@import './variables.scss';
@import './z-index.scss';
@import './animations.scss';
@import './components/terminal.scss';
@import './components/resize-handle.scss';
@import './components/code.scss';
@import './components/editor.scss';
@import './components/toast.scss';

html,
body {
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}
::-webkit-scrollbar-thumb {
  background-color: #3F3f3f;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #262626;
}
::-webkit-scrollbar-corner { background-color: transparent;}

/* there may be a better
location to put this, but I don't know
where, so for now I'll place it here */
